.outerBox {
	width: 80vw;
	margin: 2rem auto;
	background-color: white;
	background-image: url(./music_image.jpg);
	background-position-x: 3rem;
	background-size: 40%;
	// opacity: 20%
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.input {
	width: 50%;
	height: 2rem;
	margin: 1rem;
}

h1 {
	color: black;
}
