@font-face {
	font-family: "Betty Lavea";
	src: url('../assets/font/betty-lavea/BettyLavea.otf') format("otf");
}

@font-face {
	font-family: "Dark Black";
	src: url('../assets/font/dark-black/Dark\ &\ Black\ D.otf') format("otf");
}

* {
	color: white;
}

h3{
	margin: 0;
	padding: 0 0 .5rem 0;
}
.game-head {
	font-size: 30px;
	position: relative;
	margin: 1rem auto;
	font-family: "Betty Lavea";
}

.game-desc {
	font-family: "Dark Black";
	position: relative;
	margin: 1rem 5rem;
	padding: 1rem 3rem;
	background-color: rgba(0,0,0,0.50);
	border: 1px whitesmoke solid;
	border-radius: 5rem;
}

.outerBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
	margin: 2rem auto;
	background-image: url(../assets/image/Best-Music-Podcasts-featured-image-1000.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover, contain;
	opacity: 75%;
	padding: 1rem;
}

.form {
	height: 10rem;
	position: relative;
}

.input {
	position: relative;
	width: 50%;
	height: 2rem;
	margin: 1rem 3rem;
	text-align: center;
	color: black;
	border-radius: 5rem;
	border: 1px whitesmoke solid;
}

.score {
	text-align: center;
	position: relative;
	margin: 0 auto 1rem auto;
	position: relative;
}

.next-song{
	background-color: yellow;
	position: relative;
	border-radius: 5rem;
	border: 1px whitesmoke solid;
	padding: 1rem;
	color: black;
	margin: 1rem;
}

.submitbtn {
	position: relative;
	background-color: salmon;
	border-radius: 5rem;
	border: 1px white solid;
	padding: 1rem;
}

.playerbox {
	position: relative;
	height: 30%;
	width: 50%;
	border-radius: 5rem;
}